* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 14px;
}

@media(max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: #000;
  padding: 1rem;
}

.terminal {
  font-family: "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
}

#terminal {
  width: auto;
  height: 100%;
}
