<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seashells - Oops</title>
    <link rel="stylesheet" href="/static/main.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEF717X78L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ .gtag }}');
    </script>
  </head>
  <body>
    <div id="content">
      <h1>Oops</h1>
      <p>
      {{ .message }}
      </p>
      <p>
      Click <a href="/">here</a> to go back to the homepage.
      </p>
    </div>
  </body>
</html>
