<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seashells - {{.id}}</title>
    <link rel="stylesheet" href="/static/vendor/xterm.css">
    <link rel="stylesheet" href="/static/terminal.css">
    <script src="/static/vendor/xterm.js"></script>
    <script src="/static/vendor/fit.js"></script>
    <script src="/static/vendor/encoding-indexes.js"></script>
    <script src="/static/vendor/encoding.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEF717X78L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ .gtag }}');
    </script>
  </head>
  <body>
    <div id="terminal"></div>
    <script>
      sessionId = {{.id}};
    </script>
    <script src="/static/terminal.js"></script>
  </body>
</html>
